<link rel="preload" href="/assets/fonts/GitLabSans.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/JetBrainsMono.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/JetBrainsMono-Italic.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/JetBrainsMono-Bold.woff2" as="font" crossorigin />
<link rel="preload" href="/assets/fonts/JetBrainsMono-BoldItalic.woff2" as="font" crossorigin />
